.navbarContainer {
  width: 100vw;
  max-width: 100%;
  position: sticky;
  top: 0px;
  z-index: 999;
  background: rgba(246,247,249,.6);
  backdrop-filter: blur(32px);

  .navbarTopWrapper {
    width: 77%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    .navbarTop {
      width: 90%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .navbar-left {
        // flex: 3;
        display: flex;
        justify-content: center;
  
        .logo {
          width: 67px;
          height: 67px;
          object-fit: cover;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 999px;
        }
      }
  
      .navbar-center {

        .searchResult {
          background-color: var(--white-color);
          width: 370px;
          min-height: 100px;
          box-shadow: 1px 2px 6px rgb(0 0 0 / 15%);
          border-radius: 5px;
          border: 1px solid #ccc;

          .titleSearch {
            background-color: #f5f5f5;
            padding: 5px 10px;
          }
          
          >span {
            margin-left: 10px;
          }
        }
  
        .searchBar {
          width: 100%;
          height: 45px;
          background-color: var(--white-color);
          border-radius: 50px;
          display: flex;
          align-items: center;
          border: 1px solid #ebebeb;
          background-color: #f5f5f5;
          gap: 10px;
  
          .searchIcon {
            font-size: 17px;
            margin-left: 16px;
            opacity: 0.8;
            cursor: pointer;
          }
  
          .searchInput {
            border: none;
            width: 70%;
            font-size: 14px;
            background-color: inherit;
          }
  
          .searchInput:focus {
            outline: none;
          }
        }

        label {
          margin-bottom: 0;
        }
      }
  
      .navbar-right {
        display: flex;
        align-items: center;  
        width: fit-content;
        margin: 0 auto;

        >.navItemContainer {
          margin: 0 20px;
        }
  
        .navbar-button {
          border: none;
          padding: 10px 15px;
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
          color: var(--secondary-color);
          background: none;
          font-size: 15px;
        }

        .devideLine {
          width: 1px;
          height: 30px;
          background: var(--secondary-color);
        }
  
        .user-border {
          border: 1px solid rgb(47, 146, 207);
          padding: 0.6px 37px;
          border-radius: 999px; 
          position: relative;
          height: 47px;
          cursor: pointer;
          border-radius: 999px;

          .user-name {
            display: block;
            height: 30px;
            line-height: 45px;
            margin-left: 15px;
            font-weight: 500;
            color: var(--secondary-color);
          }
        }

          img {
            position: absolute;
            width: 42px;
            height: 42px;
            object-fit: cover;
            border-radius: 999px;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
          }

        .dropdown-toggle::after {
          display: none;
        }

        .drop-down__menu {
          border: 1px solid var(--secondary-color);
          margin-top: 10px;
          border-radius: 8px;
        }

        .drop-down__custome {
          display: none;
          width: 200px;
          position: absolute;
          top: 129%;
          right: 0;
          z-index: 1;
          border-radius: 8px;
          border: 1.5px solid rgb(47, 146, 207);
          background-color: var(--white-color);
        }

        .drop-down__item {
          text-align: center;
          display: block;
          padding: 12px;
          font-size: 18px;
          cursor: pointer;

          &:hover {
            background-color: #f6f7f9;
            border-radius:  8px;
          }
        }
        .drop-down__custome::before {
          border-bottom: 7px solid var(--secondary-color);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          content: "";
          position: absolute;
          top: -8px;
          left: 70%;
          transform: translateX(-50%);
        }

        .drop-down__custome::after {
          content: "";
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          padding: 15px 70px;
          cursor: pointer;
        }

        .navItemContainer:hover .drop-down__custome {
          display: block;
        }

        .arrow-icon {
          position: absolute;
          right: 13px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 20px;
          color: var(--secondary-color);
        }
      }
    }
  }

}


@media only screen and (max-width: 992px) {
  .navbar-right {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    border-top: 2px solid #CCA469;
    background-color: lightgray;
    padding: 20px;
  }
}
