.edit-button {
    cursor: pointer;
    font-size: 20px;
}

.edit-button i{
    color:orange
}

.anticon {
    vertical-align: 0.1em;
}

.ri-close-circle-fill {
    color: red;
}

.ri-checkbox-circle-fill {
    color: green;
}

.ant-table-thead>tr>th{
    background-color: #fff !important;
}