.schedule {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;

    .schedule__calender {
        // flex: 1;
        position: relative;
        margin-left: 38px;

        .schedule__date-detail {
            text-align: center;
            margin-bottom: 10px;
        }

        .react-calendar {
            box-shadow: 0px -1px 14px 3px rgb(161 180 197 / 59%);
            border-radius: 8px;
            border: none;
            padding: 5px;
            margin: auto auto;
        }

        .react-calendar__tile--active {
            background: var(--secondary-color);
            border-radius: 50%;
            height: 50px;
        }

        .react-calendar__tile--now {
            border-radius: 50%;
        }

        .react-calendar button:enabled:hover {
            cursor: pointer;
            border-radius: 50%; 
        }

        .react-calendar__month-view__days__day--weekend {
            height: 50px;
        }

        .react-calendar__month-view__weekdays__weekday {
            color: var(--primary-color);
        }

        abbr[title] {
            text-decoration: none;
        }

        .react-calendar__tile:disabled {
            background-color: #fff;
            opacity: 0.6;
        }
    }

    .schedule__table {
        flex: 2;
    }

    .schedule__calender-detail {
        position: relative;
        height: 400px;
        overflow: scroll;
        border-radius: 8px;

        table {
            user-select: none;
            width: 90%;
        }

        table td,
        thead th {
            padding: 8px;
            border-top: 1px solid #ebebeb;
        }

        table tr:nth-child(even) {
            background-color: #f9fafc;
        }

        table > thead > tr > th{
            border-top: none;
            font-weight: 500;
            color: #828a9b;
        }

        table tbody {
            height: 292px;
        }

        .no-date-available {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fdebdd;
            padding: 8px 13px;
            color: #d8a16d;
        }
    }   
}