
    .delete-btn,
    .add-btn {
        cursor: pointer;
        font-size: 26px;
    }

    .add-btn {
        color: var(--secondary-color);
    }

    .delete-btn {
        color: #ff3d00;
    }

    .plus-service {
        position: relative;

        .note-icon {
            position: absolute;
            top: 54%;
            cursor: pointer;
            color: #ff3d00;
        }

        // .note-icon__disable {
        //     color: #ccc;
        //     position: absolute;
        //     top: 54%;
        // }

        .add-extra-icon {
            position: absolute;
            top: 54%;
            color: var(--secondary-color);
            cursor: pointer;
            display: block;
            margin-left: 30px;
        }
    }


    