.card-logo {
    height: 70px;
    width: 70px;
    border: 1px solid #a6a6a6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.card-logo svg {
    color: #5fb2ff
}

.ml-auto {
    margin-left: auto;
}