.patient-detail {

    table {
        user-select: none;
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    table td,
    thead th {
        padding: 8px;
        border-top: 1px solid #ebebeb;
    }
    
    table tr:nth-child(even) {
        background-color: #f9fafc;
    }
    
    table > thead > tr > th{
        border-top: none;
        font-weight: 500;
        color: #828a9b;
    }
    
    table tbody {
        height: 292px;
    }


    .btn-paid {
        background: #ecfdf3;
        color: #037b48;
    }
  
    .btn-not-paid {
        background: #fbdede;
        color: #d56566;
    }

    .btn-not-paid,
    .btn-paid {
        height: 27px;
        line-height: 27px;
        padding: 0;
        width: 98px;
        display: block;
        border-radius: 16px;
        text-align: center;
    }

    .schedule__calender-icon {
        cursor: pointer;
        font-size: 20px;
        color: #2892ed;
    }
    .schedule__calender-icon.disabled {
        color: #918f8f;
        pointer-events: none;
        opacity: 0.5;
    }

}