.wrapper-prescription {
    padding: 20px 20px 30px;
    min-height: 140px;

    .user {
        display: flex;
        gap: 20px;

        .user-list {
            width: 30%;
        }

        .user-detail {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 80px;
            flex: 1 1;

            >.name,
            >.age,
            >.gender {
                .title {
                    font-weight: 500;
                    font-size: 18px;
                }

            }

            >.name {
            }

            >.age {
                
            }

            >.gender {
                
            }
        }
    }

    .medicine-body {
        display: flex;
        gap: 30px;

        .medicine-choice {
            flex: 1;
            height: 600px;
            overflow: hidden auto;
            overscroll-behavior: contain;

            .medicine-choice_main {
                display: flex;
                margin-right: 15px;
                gap: 10px;

                .drug {
                    flex: 1.5;
                }
        
                .qty {
                    flex: 1;
                }
        
                .actions {
                    display: flex;
                    gap: 20px;
                    margin-top: 7px;
        
                    .note
                    {
                        cursor: pointer;
                        font-size: 31px;
                        color: #03a9f4;
                    }
        
                    .delete-btn,
                    .add-btn {
                        cursor: pointer;
                        font-size: 26px;
                    }
        
                    .add-btn {
                        color: #00c853;
                    }
        
                    .delete-btn {
                        color: #ff3d00;
                    }
                }
            }
            
        }

        .medicine-choice::-webkit-scrollbar {
            width: 9px;
        }

        /* Track */
        .medicine-choice::-webkit-scrollbar-track {
            background: #ccc;
            border-radius: 5px;
        }

        .medicine-choice::-webkit-scrollbar-thumb {
            background: #286ba6;
            border-radius: 5px;
            opacity: 0.1;
            
        }
        /* Handle on hover */
        .medicine-choice::-webkit-scrollbar-thumb:hover {
            background: #286ba6;
        }

        .medicine-note {
            width: 40%;

            .desease-note {

            }
            
            textarea {
              border: 2px solid #337AB7;
              border-radius: 4px;
              outline: none;
              margin: 0 auto;
              display: block;
              height: 240px;
              padding: 10px;
            }

            .recall-date {
                >span {
                    font-weight: 500;
                    display: inline-block;
                    margin: 27px 25px;
                }

                >input {
                    outline: 1px solid #ccc;
                    padding: 10px;
                    border-radius: 4px;
                }
            }
        }

        

    }

    // footer

    .btn-prescription {
        background-color: #337AB7;
        padding: 10px 20px;
        display: block; 
        border-radius: 5px;
        color: #fff;
        flex: 1;
        width: fit-content;
        opacity: 0.8;

        &:hover {
            background-color: #337AB7;
            transition: right linear 0.4s;
            opacity: 1;
        }
    }


    

}