.header {
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    width: fit-content;
    >h1 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .search {
        height: 42px;
        border: 1px solid var(--secondary-color);
        padding: 5px 18px;
        position: relative;
    }

    input:not(:placeholder-shown) ~ .fa-magnifying-glass {
        opacity: 1;
    }
    .search, .box {
        width: 300px;
    }
    .currentSchedule {
        border: 1px solid #ccc;
        height: 45px;
        background-color: var(--secondary-color);
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
    }
    .circle-xmark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.7;
        cursor: pointer;
    }
    .fa-spinner-third {
        animation: spinner 1s linear infinite;
    }
    @keyframes spinner {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .fa-magnifying-glass {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 19px;
        padding-top: 10px;
        // font-size: 18px;
        cursor: pointer;
        opacity: 0.6;
    }
    .separate-line {
        position: absolute;
        width: 1px;
        height: 25px;
        background-color: #141414;
        top: 0;
        right: 0;
        /* padding-right: 20px; */
        margin-right: 49px;
        margin-top: 7px;
    }
}