.schedule {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;  
    width: 100%;
    flex-grow: 1;

    .schedule__calender {
        flex: 1;

        .react-calendar {
            box-shadow: 0px -1px 14px 3px rgb(161 180 197 / 59%);
            border-radius: 8px;
            border: none;
            padding: 5px;
            margin: auto auto;
        }

        .react-calendar__tile--active {
            background: var(--secondary-color);
            border-radius: 50%;
            height: 50px;
        }

        .react-calendar__tile--now {
            border-radius: 50%;
        }

        .react-calendar button:enabled:hover {
            cursor: pointer;
            border-radius: 50%; 
        }

        .react-calendar__month-view__days__day--weekend {
            height: 50px;
        }

        .react-calendar__month-view__weekdays__weekday {
            color: var(--primary-color);
        }

        abbr[title] {
            text-decoration: none;
        }
    }

    .schedule__calender-detail {
        flex: 2;
        // width: 100%;
        position: relative;

        table {
            user-select: none;
            width: 90%;
        }

        table td,
        thead th {
            padding: 8px;
            border-top: 1px solid #ebebeb;
        }

        table tr:nth-child(even) {
            background-color: #f9fafc;
        }

        table > thead > tr > th{
            border-top: none;
            font-weight: 500;
            color: #828a9b;
        }

        table tbody {
            height: 292px;
        }

        .no-date-available {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fdebdd;
            padding: 8px 13px;
            border-radius: 16px;
            color: #d8a16d;
        }
    }

    .schedule__calender-icon {
        cursor: pointer;
    }

    .btn-paid {
        cursor: pointer;
        background: #ecfdf3;
        border: none;
        color: #037b48;
        height: 27px;
        border-radius: 16px;
        padding: 0;
        width: 110px;
    }
  
    .btn-not-paid {
        cursor: pointer;
        background: #fbdede;
        border: none;
        color: #d56566;
        height: 27px;
        border-radius: 16px;
        padding: 0;
        width: 150px;
    }
}