.popup-action {
    width: 75px;
    right: 50px;
    top: 29px;
    padding: 0 !important;
    position: absolute;
    border: 1px solid;
    /* border-radius: 2px; */
    text-align: center;
    z-index: 1;
    display: none;
}

.blog-action:hover+.popup-action {
    display: block;
}

.popup-action:hover {
    display: block;
}