.delete-popup {
    z-index: 1;
    background-color: rgba(126, 126, 126, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-box {
    min-width: 400px;
    height: 150px;
    background-color: white !important;
    border-radius: 5px;
}