.doctor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 30px;
  gap: 50px;
  background-color: var(--white-color);

  .doctorSidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .userInfo {
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 0 auto;

      >.doctorName {
        font-size: 20px;
        margin-left: 20px;
        border-radius: 8px;
        padding: 10px 26px;
      } 

      > img {
        width: 60px;
        height: 60px;
        border-radius: 100rem;
        object-fit: cover;
      }

      > span {
        font-size: 14px;
        cursor: pointer;
      } 
    }

    .profileActions {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 18px 20px;
      border-radius: 10px;
      background: var(--white-color);
      box-shadow:  15px 15px 30px #949494,
                  -15px -15px 30px var(--white-color);

        > .action {
            text-align: center;
            background-color: #f3f3f3;
            height: 50px;
            line-height: 50px;
            user-select: none;
            border-radius: 10px;
            font-size: 20px;
            cursor: pointer;

            &.active {
                background-color: var(--secondary-color);
                color: var(--white-color);
            }
        }
        
    }
  }

  .doctorContent {
    flex: 3;
    background-color: #F2F2F2;
    min-height: 500px;  
    border-radius: 10px;
    background: var(--white-color);
    position: relative;
  }
}
