.blog-detail-wrapper {
  .blog-detail-body {
    width: 1200px;
    margin: 0 auto;

    .bread-crumb {
      margin-top: 20px;
    }

    .blog-content {
      display: flex;
      gap: 40px;
      margin-top: 30px;

      .blog-wrapper {
        position: relative;
        width: 70%;

        > .saveBlog {
          position: absolute;
          top: 10px;
          right: 10px;
          // background-color: #146dd3;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 30px !important;
          font-weight: bold;
          // color: white;
          cursor: pointer;
        }

        .blog-detail {
           img {
            max-width: 700px;
            max-height: 400px;
            object-fit: cover;
            margin: 10px auto;
            display: block;
          }
        }

        .blog-title {
          font-family: Helvetica, Arial, san-serif;
          font-weight: 700;
          font-size: 32px;
          width: 80%;
        }
      }

      .sub-infor {
        flex: 1;

        .doctor-info {
          box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%);
          border: 1px solid #ddd;
          border-radius: 12px;

          .date-section {
            display: flex;
            align-items: center;
            justify-content: center;

            .date,
            .post-date {
              padding: 20px 0px 20px 20px;
              display: block;
              font-size: 21px;
            }
          }

          > .author {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
              padding: 10px 0;
              color: #2b7caf;
              font-weight: 500;
              font-size: 20px;
            }
          }

          .category {
            display: flex;
            justify-content: center;
            margin-top: 12px;
          }

          .doctor-avarta {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            margin: 0 auto;
            display: block;
            margin-top: 10%;
            margin-bottom: 20px;
          }

          .doctor-name {
            display: block;
            font-weight: 500;
            font-size: 20px;
            text-align: center;
          }

          .link-to-detail {
            display: block;
            text-align: center;
            width: 272px;
            text-decoration: none;
            font-size: 18px;
            margin: 0 auto;
            color: #e5a724;
          }

          .desc {
            text-align: center;
            width: 272px;
            margin: 0 auto;
            margin: 15px auto;
            margin-bottom: 50px;
          }
        }

        .more-blogs {
          margin-top: 10px;

          .single-blog-title {
            margin: 20px 0;
          }
        }

        .sub-blog {
          display: flex;
          gap: 14px;
          margin-bottom: 20px;
          height: 82px;

          .blog-sub-image {
            width: 130px;
            height: 91px;
            object-fit: cover;
            border-radius: 3px;
          }

          .blog-sub-title-link {
            font-size: 17px;
            font-weight: 500;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            text-decoration: none;
            color: #212529;
            opacity: 0.9;

            &.line-clamp.line-4 {
              --line-clamp: 3;
            }
          }
        }
      }
    }
  }
}
