.patient-detail {

    table {
        user-select: none;
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    table td,
    thead th {
        padding: 8px;
        border-top: 1px solid #ebebeb;
    }
    
    table tr:nth-child(even) {
        background-color: #f9fafc;
    }
    
    table > thead > tr > th{
        border-top: none;
        font-weight: 500;
        color: #828a9b;
    }
    
    table tbody {
        height: 292px;
    }


    .btn-paid {
        background: #ecfdf3;
        color: #037b48;
    }
  
    .btn-not-paid {
        background: #fbdede;
        color: #d56566;
    }

    .btn-not-paid,
    .btn-paid {
        height: 27px;
        line-height: 27px;
        padding: 0;
        width: 98px;
        display: block;
        border-radius: 16px;
        text-align: center;
    }

    .schedule__calender-icon {
        cursor: pointer;
        font-size: 20px;
        color: #2892ed;
    }
    .schedule__calender-icon.disabled {
        color: #918f8f;
        pointer-events: none;
        opacity: 0.5;
    }

    .no-date-available {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fdebdd;
        padding: 8px 13px;
        color: #d8a16d;
    }
}

.patient-info {
    display: flex;
    width: 90%;
    margin: 0px auto;  
    

    .patient-info__profile {
        flex: 1;    
    }

    .patient-info__services {
        margin-top: 10px;
        height: 350px;
        overflow: hidden auto;
        flex: 2
    }

    .devideLine {
        width: 1px;
        height: 347px;
        background: #dbd6d6;
        margin: 24px 30px;
    }

    .patient-info__profile-time,
    .patient-info__profile-payment,
    .patient-info__profile-name {
        height: 40px;
        display: flex;
        border-bottom: 1px solid #c5c5c5;
        line-height: 40px;
        align-items: center;

        >p {
            margin-bottom: 0;
        }

        >span {
            font-weight: 600;
            color: #828a9b;
            width: 175px;
        }
    }


}