.Login-Wrapper {

    .Login-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1170px;
        margin: 0 auto;
        height: 84px;

        .logo {
            display: flex;
            gap: 50px;
            cursor: pointer;
        }

        .sign-in {
            
            &:hover {
                border: 1px solid orange;
                padding: 10px 20px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }


        .login-main {
            background-color: #ccc;
            height: 500px;
            position: relative;

            .login-body {
                display: flex;
                justify-content: space-around;
                width: 50%;
                align-items: center;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);

                .select {
                    align-self: center;
                    outline: none;
                    width: fit-content;
                    padding: 10px;
                    border-radius: 4px;

                   
                }

                .form-body {
                    margin: 30px;
                    background-color: #fff;
                    border-radius: 4px;
                    margin: 30px;

                    .form-content {
                        padding: 28px 17px;
                    }

                    h2 {
                        margin: 15px 0;
                        font-size: 30px;    
                    }

                    .input-box {
                        display: block;
                        padding: 16px;
                        width: 400px;
                        border-radius: 3px;
                        border: 1px solid #cccc;

                        .input-box:focus {
                            outline: 1px solid orange;
                        }
                    }

                    .forgot-password {
                        position: relative;
                        top: 8px;
                        font-size: 15px;
                        left: 6px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .btn-sign-in {
                        padding: 14px 27px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        width: 100%;
                    }

                    .separate {
                        display: flex;
                        align-items: center;

                        .line {
                            border-bottom: 1px solid orange;
                            width: 100%;
                        }

                        span {
                            display: block;
                            padding: 0 10px;
                            opacity: 0.8;
                        }
                    }

                    .login-google {
                        border: 1px solid #ccc;
                        text-align: center;
                        padding: 10px;
                        background: #fff;
                        border-radius: 4px;
                        cursor: pointer;

                        .google-icon {
                            font-size: 25px;
                            color: blue($color: #000000);
                        }
                    }

                    .sign-up {
                        a {
                            color: orange;
                            margin-left: 10px;
                        }
                    }

                }
            }

        }
        



}