.Blog-wrapper {
    .blog-content {
        width: 1140px;
        margin: 0 auto;

        .slider {
            margin-top: 20px;
            height: 200px;

            >img {
                width: 100%;
                height: 198px;
                object-fit: cover;
            }
        }

        .major-list {
            .list {
                margin-top: 20px;
                padding: 13px;
                border: 0.5px solid #EEEEEE;
                border-radius: 8px;
                position: sticky;
                top: 150px;

                .item {
                    list-style-type: none;

                    >h5 {
                       text-align: center;
                    }
                    
                    span {
                        text-decoration: none;
                        color: #0066a6;
                        font-weight: 500;
                        position: relative;
                        right: 0;
                        cursor: pointer;
                        display: block;
                        padding: 9.5px;
                        margin-left: 6px;
                        
                        &:hover {
                            right: -10px;
                            transition: right linear .1s;
                            color: var(--primary-color);
                        }
                    }

                    .line {
                        border-bottom: 1px solid #ccc;
                        width: 90%;
                        margin: 0 auto;
                    }

                    
                }
            }
        }

        .blog-list {
            margin-top: 20px;
    
            .blog-item {

                img {
                    min-width: 260px;
                    height: 173px;
                    object-fit: cover;
                    cursor: pointer;
                    border-radius: 8px; 
                }

                display: flex;
                gap: 10px;
                margin-bottom: 30px;

                >a {
                    display: block;
                    .blog-image {
                        width: 280px;
                        height: 173px;
                        object-fit: cover;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }


                .bolg-item-title {
                    font-size: 22px;
                }

                .blog-item-body {
                    position: relative;

                    .line-clamp.line-4 {
                        --line-clamp: 4; 
                        font-size: 16px;
                        opacity: 0.8;
                        h2 {
                            display: none;
                        }
                    }

                    .blog-item__desc {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        bottom: 0;
                        padding-bottom: 20px;
                    }

                    .separate-line {
                        width: 2px;
                        height: 16px;
                        background: #494949;
                        margin: 0px 13px;
                        display: inline-block;
                    }
                }

                .separate-line {
                    border-bottom: 1px solid #ccc;
                    width: 90%;
                    margin: 0 auto;

                }
            }

            .type {
                font-size: 18px;
                background-color: #f5f5f5;
                padding: 8px;
                border-radius: 6px;
            }
        }

        .paginate {
            text-align: center;
            margin-top: 20px;

            >span ul {
                width: 200px;
                margin: 0 auto;
            }
        }
    }
}