.modal-prescription {
    table {
        user-select: none;
        width: 90%;
    }
    
    table td,
    thead th {
        padding: 10px;
        border-top: 1px solid #ebebeb;
    }
    
    table tr:nth-child(even) {
        background-color: #f9fafc;
    }
    
    table > thead > tr > th{
        font-weight: 500;
        color: #828a9b;
    }
}