.Login-Wrapper {
    display: grid;
    place-items: center;

        .login-main {
            width: 600px;
            height: 500px;

            .login-title {
                width: 50%;
                height: 40%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 27px;
                font-weight: 400;
            }

            .Forgot-body {
                display: flex;
                width: 50%;
                position: absolute;

                .form-body {
                    background-color: #fff;
                    border-radius: 8px;
                    margin: 30px;

                    .form-content {
                        padding: 28px 17px;
                    }

                    h2 {
                        margin: 15px 0;
                        font-size: 30px;    
                    }

                    .input-box {
                        display: block;
                        padding: 13px;
                        width: 400px;
                        border-radius: 3px;
                        border: 1px solid #cccc;
                    }

                    .forgot-password {
                        position: relative;
                        top: 8px;
                        font-size: 15px;
                        left: 6px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

        }

}