.bookingConfirm {
    padding: 14px 32px;
    

    >.infoTitle {
        font-size: 18px;
        font-weight: bold;
        color: var(--secondary-color);
        margin-top: 10px;
    }

    >.infoItem {
        display: flex;
        margin-bottom: 5px;
        font-size: 14px;

        >.bookingKey {
            flex: 1;
        }

        >.bookingValue {
            flex: 3;
        }
    }
}