.bookingConfirm {
    padding: 14px 32px;
    

    >.infoTitle {
        font-size: 18px;
        font-weight: bold;
        color: var(--secondary-color);
        margin-top: 15px;
        letter-spacing: 2px;
    }

    >.infoItem {
        display: flex;
        margin-bottom: 10px;
        font-size: 16px;

        >.bookingKey {
            flex: 1;
            font-weight: 500;
        }

        >.bookingValue {
            flex: 3;
        }
    }
}