.Login-Wrapper {

    .Login-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1170px;
        margin: 0 auto;
        height: 84px;

        .logo {
            display: flex;
            gap: 50px;
            cursor: pointer;
        }

        .sign-in {
            
            &:hover {
                border: 1px solid orange;
                padding: 10px 20px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }


        .login-main {
            background-color: #ccc;
            height: 500px;
            position: relative;

            .login-body {
                display: flex;
                justify-content: space-around;
                width: 50%;
                align-items: center;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);

                .select {
                    align-self: center;
                    outline: none;
                    width: fit-content;
                    padding: 10px;
                    border-radius: 4px; 
                    
                    &.register-select {
                        visibility: hidden;

                    }
                    
                }

                .form-body {
                    margin: 30px;
                    background-color: #fff;
                    border-radius: 4px;
                    margin: 30px;

                    .form-content {
                        padding: 14px 17px;


                        .fisrt-block-input {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 7px;
                
                            .input {
                                width: 83%;
                                padding: 10px;
                                border-radius: 4px;
                                border: 1px solid #ccc;
                            }
                
                            .checkbox-wrap {
                                margin-top: 16px;
                            }
                        }

                        .input-box {
                            display: block;
                            margin: 0 auto;
                            padding: 10px;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                        }

                        .btn-register {
                            padding: 13px 27px;
                            border: 1px solid #286ba6;
                            border-radius: 4px;
                            width: 100%;
                            font-weight: 500;
                            background-color: #286ba6;
                            color: #fff;
                        }
                    }


                    .input-box {
                        display: block;
                        padding: 13px;
                        width: 400px;
                        border-radius: 3px;
                        border: 1px solid #cccc;

                        .input-box:focus {
                            outline: 1px solid orange;
                        }
                    }
                }
            }

        }
        



}