.blogsSaved {
    display: flex;
    flex-wrap: wrap;

    >.blogSavedCard {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}